body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    text-align: center;
    background-color: #282a36;
    color: #f8f8f2;
    user-select: none;
}

img {
    user-drag: none;
}

h1 {
    font-size: 42px;
    margin: 10px 0;
    font-weight: 500;
    color: #ff79c6;
}

h2, h3, h4, h5, q {
    font-weight: 400;
}

p {
    margin: 0;
}

hr {
    border: 1px solid #6272a4;
}

#bar {
    display: table;
    table-layout: fixed;
    width: 100%;
    font-size: 21px;
}

.item {
    display: table-cell;
    width: 2%;
}

a {
    text-decoration: none;
    color: #ffb86c;
}

#footer {
    position: fixed;
    bottom: 0;
    color: #6272a4;
}

#gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.gallery-item {
    border: 2px solid #6272a4;
    border-radius: 5px;
    padding: 5px;
    min-width: 210px;
    width: 0;
    height: 420px;
    margin: 0 10px 10px;
    position: relative;
}

.gallery-item h4 {
    margin-bottom: 5px;
}

.gallery-item .avatar {
    width: 200px;
    border-radius: 5px;
}
.gallery-item .socials *{
    width: 20px;
}

.gallery-item .name {
    margin: 1em;
}
.gallery-item .name *{
    margin: 0px;
}

.socials {
    position: absolute;
    bottom: 5px;
    width: calc(100% - 10px);
    height: 20px;
}
